:host {
  display: block;
}

.observation-container {
  border: 3px solid black;
  border-radius: 2%;
  padding: 10px;
  margin: 30px;
  width: 40%;

}

.observation-image {
  max-width: 320px;
  margin: 20px;
 
}

#map{
  max-width: 40px;
  max-height: 40px;
  right: -200px;
  top: 200px;
}

.observation-header {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  font-size: larger;
}

.leaflet-tile leaflet-tile-loaded{
  width: 300px !important;
}