:host {
  display: block;
}

.observation-container {
  border: 3px solid black;
  border-radius: 2%;
  padding: 10px;
  margin: 30px;
}

.observation-image {
  max-width: 200px;
  margin-right: 20px;
 
}


.observation-header {
  display: flex;
  justify-content: space-between;
}


