label {
  font-weight: 600;
}

.header {
  font-size: x-large;
  font-weight: bolder;
  margin: 1.5rem;
}

span {
  margin-right: 0.5rem;
}

.content {
  margin: 1rem;
}

.attachments-container { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 480px) {
    .attachments-container { 
      grid-template-columns: repeat(1, 1fr) !important;
margin-left: 25%;
      }
  }
