.normalImage {
  max-width: 400px;
}

.smallImage {
  max-width: 350px;
}

.container {
  margin-bottom: 2rem;
  margin: 0 6rem;
}

label {
  font-weight: 800;
}

.header {
  font-size: x-large;
  font-weight: 800;
}

.imageInfo {
  background-color: rgba(4, 73, 98, 0.05);
  width: 100%;
  padding: 8px 16px 16px;
}

.smallImageInfo{
  background-color: rgba(4, 73, 98, 0.05);
  max-width: 85%;
  padding: 8px 16px 16px;
}