
.content {
  font-family: var(--varsom-font-family);
  font-size: var(--varsom-text-size);
}

div {
  margin: 1.5rem;
  border-bottom: 1px solid #B7BABF;
  font-family: var(--varsom-font-family);
  font-size: var(--varsom-text-size);
}

.label  {
  font-weight: 600;
}