.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

}
  
  .tile {
    position: absolute;
    width: 256px !important;
    height: 256px !important;
    max-height: 256px !important;
    max-width: 256px !important;
    pointer-events: none;
  }

  .graphic {
    position: absolute;
  }
