label {
  font-weight: 600;
}

span {
  margin-right: 0.5rem;
}

.content {
  margin: 1.5rem;  
}

.border {
  border-bottom: 1px solid #B7BABF;
}

.attachments-container { 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
}
