
span {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
}


@media screen and (max-width: 600px) {
  span {
  font-size: x-large;
  background-color:#F7F7F8;;
  margin: 1.5rem;
  padding: 0.5rem;
  }
}



