label {
  font-weight: 600;
}

span {
  margin-right: 0.5rem;
}

.content {
  margin: 1rem;
}

.attachments-container { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
align-items: center;
  margin: 1rem;
  }

  @media screen and (max-width: 480px) {
    .attachments-container { 
      grid-template-columns: repeat(1, 1fr) !important;
;
      }
  }
