label {
  font-weight: 600;
}

span {
  margin-right: 0.5rem;
}


.parent {
  padding: 0 0 0 8px;
  border-left: 1px solid #B7BABF;
}

.attachments-container { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 480px) {
    .attachments-container { 
      grid-template-columns: repeat(1, 1fr) !important;
margin-left: 25%;
      }
  }


@media screen and (min-width: 1025px) {
  .parent{
    padding: 8px 16px 16px 8px;
    border-left: 1px solid #B7BABF;
    margin: 1.5rem;
  }
}

