label {
  font-weight: 600;
}

span {
  margin-right: 0.5rem;
}

.attachments-container { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
  }

  @media screen and (max-width: 480px) {
    .attachments-container { 
      grid-template-columns: repeat(1, 1fr) !important;
;
      }
  }



.header {
  font-size: x-large;
  font-weight: 800;
}

.container {
  border-bottom: 1px solid #B7BABF;
}

.content {
  margin: 2rem;
}
