label {
  font-weight: 600;
}

span {
  margin-right: 0.5rem;
}

.attachments-container { 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.5rem;
  }


.header {
  font-size: x-large;
  font-weight: bolder;
}

.content {
  margin: 1rem;
}

.map-container {
  height: 400px;
}

.obs-container {
  border-bottom: 1px solid #B7BABF;
  font-family: var(--varsom-font-family);
  font-size: var(--varsom-text-size);
}

.content123 {
  color: red !important;
}