.container {
  height: 12rem;  
  width: 18rem;
  overflow: hidden;
  position: relative;
    
}

.container-small {
  height: 10.5rem;
  width: 14rem;
  overflow: hidden;
  position: relative;
  
}
  
  .tile {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    
  }

  .graphic {
    z-index: 2;
    position: absolute; 
  }

  .graphic-start-stop {
    z-index: 3;
    position: absolute; 
  }

  .graphic-obs {
    z-index: 2;
    position: absolute; 
    left: 7.5rem;
    top: 4.5rem;
  }

 
