.container {
  height: 14.375rem;  
  width: 16rem;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(119, 166, 169, 0.5);
  
}

.container-small {
  height: 10.25rem;
  width: 14rem;
  overflow: hidden;
  position: relative;
  
}
  
  .tile {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    
  }

  .graphic {
    z-index: 2;
    position: absolute; 
  }

  .graphic-obs {
    z-index: 2;
    position: absolute; 
    left: 7.5rem;
    top: 4.5rem;
  }

 
