label {
  font-weight: 600;
}

span {
  margin-right: 0.5rem;
  font-weight: 800;
}

.content {
  margin: 1.5rem;
}

img {
  width: 15rem;
}

.container {
  border-bottom: 1px solid rgba(119, 166, 169, 0.5);
}

.attachments-container { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 480px) {
    .attachments-container { 
      grid-template-columns: repeat(1, 1fr) !important;
margin-left: 25%;
      }
  }