

.content {
  margin: 1.5rem;
}

.border {
  border-bottom: 1px solid #B7BABF;
}

.attachments-container { 
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  margin: 1rem;
  }

  @media screen and (max-width: 480px) {
    .attachments-container { 
      grid-template-columns: repeat(1, 1fr) !important;
    
      }
  }