label {
  font-weight: 600;
  margin-right: 1rem;
}

span {
  margin-right: 0.5rem;
}

div {
  font-family: var(--varsom-font-family);
  font-size: var(--varsom-text-size);
}

.attachments-container { 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
}
