label {
  font-weight: 600;
}

span {
  margin-right: 0.5rem;
}

div {
  margin: 1.5rem;
}


@media screen and (max-width: 480px) {
  .attachments-container { 
    grid-template-columns: repeat(1, 1fr) !important;
;
    }
}

.attachments-container { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }

