label {
  font-weight: 600;
}

span {
  margin-right: 0.5rem;
}

div {
  display: flex;
  flex-direction: column;
}

.content {
  margin: 1.5rem;
}

@media screen and (max-width: 480px) {
  .attachments-container { 
    grid-template-columns: repeat(1, 1fr) !important;
;
    }
}

.attachments-container { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }


.container {
  border-bottom: 1px solid #B7BABF;
}

.hoved {
  float:right;
  clear:both;
  border: 3px solid #fad5aa;
  background-color:#ffffe6;
  padding:2px 0px 2px 5px;
  margin:10px 0px 0px 5px;
}

.icethicknessdiv {
  border: none;
  background-color:#ffffe6;
}

img {
  max-width: 8rem;
}