label {
  font-weight: 600;
}

span {
  margin-right: 0.85rem;
}


div {
  border-bottom: 1px solid #B7BABF;
}


.attachments-container { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 480px) {
    .attachments-container { 
      grid-template-columns: repeat(1, 1fr) !important;
margin-left: 25%;
      }
  }