label {
  font-weight: 600;
}

span {
  margin-right: 0.5rem;
}

.content {
  margin: 1.5rem;
}

img {
  max-width: 5rem;
}

.container {
  border-bottom: 1px solid #b7babf;
  font-family: var(--varsom-font-family);
  font-size: var(--varsom-text-size);
}

.attachments-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
}
