label {
  font-weight: 600;
}

span {
  margin-right: 0.5rem;
}

.content {
  margin: 1.5rem;
}

img {
  max-width: 5rem;
}

.container {
  border-bottom: 1px solid #B7BABF;
}

@media screen and (max-width: 480px) {
  .attachments-container { 
    grid-template-columns: repeat(1, 1fr) !important;
;
  
    }
}

.attachments-container { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }
