label {
  font-weight: 600;
}

span {
  margin-right: 0.5rem;
}

.content {
  margin: 1.5rem;
}

.container {
  border-bottom: 1px solid rgba(119, 166, 169, 0.5);
}

.attachments-container { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }

img {
  max-width: 6rem;
}

p {
  font-weight: 600;
}